/* FONT-FAMILIES */
/* font-family: 'Source Serif Pro', serif; */

/* GENERAL */
body{
    max-width: 90%;
    margin: auto;
}

/* LINKS */
a{
    color:rgb(11, 83, 62);
    text-decoration: none;
}

a:visited{
    color:orange;
}
a:hover {
    color: purple;   
}

/* PARAGRAPHS */
p{
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 1px;
    font-size: 16px;
    color:rgb(1, 14, 32);
}

q{
    font-size: 160%;
    background-color: rgb(224, 224, 223);
}

